@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .poppins-font {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .poppins-paragraph {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .active {
    color: #f39c12;
    text-decoration: underline;
  }

  .button {
    padding: 10px 27px;
    border: none;
    background-color: #f39c12;
    cursor: pointer;
    transition: all 0.5s;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    border-radius: 5px;
  }

  .button:hover {
    background-color: black;
  }

  .divider-text {
    width: 200px;
    height: 5px;
    background-color: black;
    margin: auto;
    position: relative;
    border-radius: 10px;
  }

  .divider-text::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: orange;
    top: -5px;
    left: 20%;
    transform: skew(-22deg);
  }

  footer nav a {
    transition: all 0.5s;
  }

  footer nav a:hover {
    color: #f39c12;
  }

  .box-shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  .craftCard:hover {
    border: 2px solid orange;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  .client-saying {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .addCraft input,
  select,
  .register input {
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid rgba(14, 83, 8, 0.685);
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .addCraft input:focus {
    outline: 3px solid rgba(0, 128, 0, 0.637);
  }

  .addCraft select:focus {
    outline: 3px solid rgba(0, 128, 0, 0.637);
  }

  .register input:focus {
    outline: 3px solid rgba(0, 128, 0, 0.637);
  }
}
